@font-face {
  font-family: "BreeSerif";
  src: url(../fonts/BreeSerif-Regular.ttf);
}
@font-face {
  font-family: "Chaparral Pro Semibold";
  src: url(../fonts/Chaparral-Pro-Semibold.otf);
}
@font-face {
  font-family: "Century-Gothic";
  src: url(../fonts/Century-Gothic.ttf);
}